@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    background-image: url(img/forest.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    header {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px 20px;
        background-color: rgb(170, 168, 168);
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 2px 1px  teal;
    }
    main {
        padding-top: 100px;
    }
    .one {
        padding: 10px 20%;
        background-color: rgba(255, 255, 255, 0.4);
        text-align: justify;
        font-weight: 300;
        color: rgb(43, 42, 42);
    }
    .one>h3 {
        text-transform: uppercase;
    }
